diff --git a/requirements.txt b/requirements.txt
index 125d49a05becda5fadd9c7cdd900e8e2ea799c42..78db6dd72f5712caac87f4ab70e16cabe6a4a3b9 100644
--- a/requirements.txt
+++ b/requirements.txt
@@ -1,2 +1,2 @@
-python-telegram-bot[webhooks]>=20.0
+python-telegram-bot[webhooks]>=20.0,<22.0
 requests==2.31.0
